<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/dca29530ae.js" crossorigin="anonymous"></script>
    <title>About</title>
</head>
<body class="about">
    <header class="header">
        <nav class="header__horizontal--menu">
            <ul>
                <li><a href="/">| home</a></li>
                <li><a href="/about">| about</a></li>
                <li><a href="/music">| music</a></li>
                <li><a href="/contact">| contact |</a></li>
            </ul>
        </nav>
        <nav class="hedader__vertical--redes">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook-square"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
        
        
    </header>
    <main class="about__main">
        <section class="about__main--nombre">
        <h1>
            about <br> amilia //
        </h1>
        </section>
        <section class="about__main--section">
            <article>
                <h2>
                    "Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album"
                </h2>
                <p>
                    John Tirckle, Music Today Post 
                </p>
            </article>
            <article>
                <h2>
                    "Emilia Cole is one of the <br> scene's breakout stars"
                </h2>
                <p>
                    - John Tirckle, Music Today Post
                </p>
            </article>
        </section>

    </main>


    
</body>
</html>