<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/dca29530ae.js" crossorigin="anonymous"></script>
    <title>Music</title>
</head>
<body class="music">
    <header id="top" class="header">
        <nav class="header__horizontal--menu">
            <ul>
                <li><a href="/">| home</a></li>
                <li><a href="/about">| about</a></li>
                <li><a href="/music">| music</a></li>
                <li><a href="/contact">| contact |</a></li>
            </ul>
        </nav>
        <nav class="hedader__vertical--redes">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook-square"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
        
        
    </header>
    <main class="music__main">
        <h1>music //</h1>

        <section class="music__menu-interno">
            <h3>Direct link</h3>
        <ul>  
            <li><a href="#album">album</a></li>
            <li><a href="#organicLove">Video: Organic love</a></li>
            <li><a href="#streetLight">Video: Street Light</a></li>
        </ul>
        </section>
        <section id="album">
            <h2>album <br> twist in my reality</h2>
            <img src="/img/emilia-play-list.png
            " alt="">
            <ol>
                <li>Organic Love | 2:40</li>
                <li>Twist In My Reality | 2:10</li>
                <li>Street Ligth | 3:28</li>
                <li>Love Don´t Live Here Anymore (Cover) | 3:49</li>
            </ol>
            <a href="#top">Go Top</a>
        </section>
        <section id="organicLove">
            <h2>video <br> organic love</h2>
            <video src="https://vimeo.com/135166028" class="video"></video>
            <p>Directed by Vince Malc & EMILIA COLE <br>
            Edited and Filmed by NICOLAS TROY <br>
            Produced by NIKI HEART, <br>
            Wix Films LTD</p>
            <a href="#top">Go Top</a>

        </section>
        <section id="streetLight">
            <h2>video <br> street light</h2>
            <video src="https://vimeo.com/134861419" class="video"></video>
            <p>Directed by VINCE MALC & EMILIA COLE <br>
                Edited and Filmed by NICOLAS TROY <br>
                Produced by NIKI HEART, <br>
                Wix Films LTD.</p>
            <a href="#top">Go Top</a>
        </section>
    </main>
    
</body>
</html>